@use "./variables.scss" as *;

// put your custom CSS here!
article table {
  table-layout: auto;
  width: auto;
}

article table th,
article table td {
  min-width: 0 !important;
  width: auto !important;
  white-space: normal;
  padding: 0.15rem 0.3rem;
}